.login-container {
    display: flex;
    flex-direction: column;
    height: 76vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    justify-content: center;
    align-items: center;
    background-color: rgba(78, 78, 78, 0.15);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#login-text {
    font-family: "Tienne", sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: black;
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-family: "Tienne", sans-serif;
    width: 100%;
    padding: 1%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form button[type="submit"] {
    font-family: "Tienne", sans-serif;
    background-color: black;
    color: white;
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    display: block;
}

.login-form button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
}

#register {
    font-family: "Tienne", sans-serif;
}

#successfulregistration {
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .login-container {
        margin-top: 30%;
        width: 100%;
        height: 100%;
    }

    .login-form {
        width: 90%;
        height: auto;
        padding: 5%;
    }

    #login-text {
        font-size: 150%;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        font-size: 0.9rem;
        width: 85%;
    }

    .login-form button[type="submit"] {
        width: 80%;
        font-size: 0.9rem;
    }

    #successfulregistration {
        font-size: 100%;
    }
}