#register {
    font-family: "Tienne", sans-serif;
}

#successfulregistration {
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .login-container {
        margin-top: 30%;
        width: 100%;
        height: 100%;
    }

    .login-form {
        width: 90%;
        height: auto;
        padding: 5%;
    }

    #login-text {
        font-size: 150%;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        font-size: 0.9rem;
        width: 85%;
    }

    .login-form button[type="submit"] {
        width: 80%;
        font-size: 0.9rem;
    }

    #successfulregistration {
        font-size: 100%;
    }
}