body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

#introsection {
    display: flex;
    align-items: center;
    background-color: var(--deepblue);
    height: 90vh;
}

.lefttext-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin: 0 1% 0 0;
    padding: 0;
}

#lefttext {
    font-family: var(--commonfont);
    font-size: 125%;
    font-weight: 500;
    margin: 50% 0 0 5%;
}

.rightpicture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 80%;
    margin: 0;
    overflow: hidden;
}

#loginimage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0;
    padding: 0;
}

#description {
    margin: 0 0 5% 0;
    color: rgba(201, 201, 201, 0.952);
}

#welcome {
    margin: 0 0 1% 0;
    background: linear-gradient(to right, #78fdff, 20%, white);
    
    /* can fine tune the font weight */
    font-weight: 800; 
    
    /* transpareent text that is covered by the background "image" */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        height: auto;
        min-height: 76vh;
        width: 100%;
        margin: 10% 0 0 0;
        padding: 0;
        align-items: center;
    }

    .lefttext-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        margin: 5% 0;
        padding: 0;
    }

    #lefttext {
        font-size: clamp(0.9rem, 2.5vw, 1.5rem) !important;
        padding: 1% 0 0 0;
        text-align: center;
    }

    #description {
        margin: 0 0 5% 0;
        text-align: center;
    }

}