.navbuttons {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--commonfont);
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 100%;
    padding: 30% 30%;
    border-radius: 30px;
}

.navbuttons:hover {
    background-color: var(--buttonhoverblue);
    transition-duration: 0.5s;
}

@media(max-width: 768px) {
    .navbuttons {
        padding: 10% 3%;
        margin-right: 0;
    }
}