#center-login-button {
    background-color: var(--buttonblue);
    color: white;
    border-radius: 25px;
    padding: 5% 7%;
    margin: 0 0 0 5%;
    display: flex;
    justify-content: center;
}

#center-login-button:hover {
    background-color: var(--buttonhoverblue);
    transition-duration: 0.5s;
}

@media (max-width: 768px) {
    #center-login-button {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: clamp(0.6rem, 2.5vw, 1.5rem);
        padding-top: clamp(0.6rem, 2.5vw, 1.5rem);
        font-size: clamp(0.6rem, 2.5vw, 1.5rem);
    }
}