#dashboard-button {
    padding: 20%;    
}

@media (max-width: 1100px) {
    #dashboard-button {
        padding: 10px 15px; /* Adjust padding for smaller screens */
        width: 140px; /* Optional: Adjust width for smaller screens */
        height: 45px; /* Optional: Adjust height for smaller screens */
    }
}