#logout-button {
    background-color: black;
    color: white;
    border-radius: 10px;
}

#logout-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
}

